.page-title {
    padding: 16px;
}

.page-title h3 {
    font-weight: 800;
    text-align: center;
    font-size: xx-large;
}

.leds {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 16px;
    padding: 16px;
}

.led-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 8px;
    gap: 8px;
    background-color: white;
    box-shadow: 0px 0px 4px 1px #999;
}

.led-location-text {
    font-weight: 700;
}

.led-image {
    width: 100px;
    object-fit: cover;
}

.led-submit {
    color: white;
    padding: 4px 8px;
    background-color: #579fff;
    width: 100%;
    font-weight: bolder;
    font-size: 18px;
    border: none;
}